:root {
    --primary-color: #020476;
    --background-color: #bfe2fc;
    --borders-color: #04b3ff;
    --text-color: black;
    --button-background-color: white;
}

body {
    background-image: url(images/wallpaper.jpg);
    background-size: 100%;
    background-repeat: repeat;
    font-family: monospace; /*наследование (шрифт)*/
}

#author { /*селектор идентификаторов*/
    border: solid;
    border-color: var(--borders-color);
    border-radius: 1px;
    font-family: monospace;
    font-weight: bolder;
    font-size: 200%;
    color: var(--primary-color);
    background-color: var(--background-color);
}

.page_table { /*селектор классов*/
    text-align: center;
}

#enter-text {
    /*border: solid;
    background-color: var(--background-color);
    border-color: var(--borders-color);
    border-radius: 10px;*/
    !important text-align: left; /*каскадирование*/
    font-size: 200%;
    color: var(--primary-color);

}

th.variable::after { /*селектор псевдоэлементов*/
    content: " (var)";
}

button { /*селектор  элементов*/
    color: var(--text-color);
    text-align: center;
    padding: 1% 2%;
    margin: 2%;
    background: var(--button-background-color);
    border: outset;
    border-color: var(--borders-color);
    cursor: pointer;
    border-radius: 5px;
}

div input { /*селектор потомков*/
    color: var(--primary-color);
    border-width: thick;
    border-style: outset;
    border-color: var(--borders-color);
    border-radius: 5px;
    font-size: 80%;
}

.result_table {
    width: 100%;
    font-size: 100%;
    border: solid;
    border-color: var(--borders-color);
    border-radius: 5px;
    text-align: center;
    font-style: normal;
    color: var(--primary-color);
    background-color: var(--background-color);
}

#time {
    color: var(--primary-color);
}